src/*.jpg
src/*.js
src/bootstrap-3.2.0-dist/*
node_modules/*
!src/mancala.js
!src/mancala_game.js
!src/mancala_setup.js
!src/mancala_server.js
!src/loveletter_rules.js
!src/loveletter_setup.js
!src/loveletter_server.js
